

.btn-overlay {
    position: fixed;
    bottom: 2em;
    right: 1em;
    z-index: 3;
    

    .fa-caret-square-up {
        color: #777;
        // height: 1em;
        
    }
} 

.back-to-top {
    position: fixed;
    opacity: .11;
    bottom: 2em;
    right: 1.2em;
    padding: 1.6em;
    z-index: 4;
    cursor: pointer;
    background-color: yellow;
}




/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }