@import '_config';
@import '_menu';

    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        margin: auto;
        background-color: rgba(darken($base-color, 50%), .1);
        width: 100%;
        position: relative;
    }

    // Headers
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        color: $primary-color;
    }
    
    h2 {
        font-size: 2em;
        word-spacing: .1em;
        letter-spacing: .0em;
    }
     
    p {
        font-size: 1.2em;
        line-height: 1.9em;
        text-align: justify; 
        font-family: "Palatino Linotype",
            "Book Antiqua",
            Palatino,
            serif;
        hyphens: auto;
        color: $primary-color;
        margin: 1.5em 0;
        word-spacing: .3em;
    } 
    
    // Links and Lists 
    ul {
        list-style: none;
    } 

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: .9em;
        font-weight: thin;
        letter-spacing: .05em;
    }
    
    a:link {
        color: #fff;
    } 
    
    a:visited {
        color: #fff;
    }
    
    a:hover {
        color: lighten($base-color, 40%);
        transition: color .15s ease-in-out;
        -webkit-transition: color .15s ease-in-out;
        background-color: #000;
    }
    
    a:active {
        color: #fcf0ff;
    }   
    
    // Img
    img {
        display: block;
        width: 100%;
        height: auto;
    }
      
    /*Header*/
    header {
        &#hero {
            display: block;

            .banner-image {
                object-fit: cover;
                display: block;
                height: 100vh;
            }
        } 
    } 

    // main
    #main {
        padding-top: 5em;
        width: 70%;
        margin: auto;  

        section {
            overflow: auto;
            padding: 3em;
            background-color: $secondary-color;
            margin: 5em 0;

            &:first-child {
                margin-top: 0;
            }

            h1 {
                font-size: 3em;
                color: $primary-color;
                hyphens: auto;
                letter-spacing: 3px;
                margin-top: 0;
                padding: .9em .1em;
                margin: auto;
            }
    
            h2 {
                margin-bottom: .5em;
            }

            a {
                color: $base-color;
            }

            &.turn-of-century {
                .construction-man-image {
                    float: right;
                    max-width: 231px;
                    shape-outside: polygon(15.74% 21.61%, -4.35% 55.05%, 26.98% 55.2%, 52.48% 113.61%, 36.36% -4.87%);
                }
            }
            
            &.rc-section {
                .rc-image {
                    float: left;
                    max-width: 180px;
                    shape-outside: polygon(68.81% 17.2%, 99.72% 43.42%, 101.55% 108.71%, 52.91% 5.05%);
                } 
            }

            &.post-ww2-section {
                .post-ww2-image {
                    float: right;
                    max-width: 200px;
                    shape-outside: polygon(35.53% 15.9%, 27.8% 37.56%, -1.76% 64.84%, 36.38% 108.30%, 55.08% -2.89%);
                }
            }
           
            &.two-thousands-section {
                .internet-image {
                    float: left;
                    max-width: 130px;
                    shape-outside: polygon(75.74% -5.16%, 96.19% 49.6%, 72.4% 96.2%);
                }
            }            
        }
    }    
    
    /*Footer*/
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        background-color: darken($base-color, 44%);
        margin: 0;
        padding: 0;
        align-items: center;
        grid-auto-rows: 4em;
        margin-top: 5em;

        .logo {
        width: 3em;
        height: auto;
        }
        
        .copyright p,
        .company-name p {
            text-transform: uppercase;
            color: #fff;
            font-size: .7em;
        }
    }
    
@import '_mobile';
    
    
    
    